body {
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar.navbar-inverse {
    background-image: linear-gradient(to bottom left, purple, rgb(4, 15, 175));
    font-family: 'Squada One';
}

.navbar .navbar-brand {
    font-size: 34px;
    color: rgb(218, 206, 206);
    padding-top: 5px;
    font-family: 'Righteous';
}

.navbar .navbar-nav {
    font-size: 20px;
    color: rgb(218, 206, 206);
}

#firstjumb {
    margin-top: 16%;
    text-align: center;
    font-family: 'Kalam';
    color: rgb(218, 206, 206);
    background-color: rgba(0, 0, 0, .4);
    border: 12px solid rgba(139, 0, 139, .5);
}

#firstjumb h1 {
    font-size: 65px;
    font-weight: bold;
}

#aboutitens {
    background-color: rgba(0, 0, 0, .5);
    padding-top: 5%;
    padding-left: 3%;
    height: 370px;
}

#aboutitens2 {
    background-color: rgba(0, 0, 0, .5);
    padding-top: 5%;
    padding-left: 3%;
}

#interesses {
    margin-top: 3%;
    font-size: 20px;
    text-align: center;
}

.fab {
    font-size: 28px;
}

.glyphicon-globe {
    color: yellow;
}

.fab:hover {
    opacity: 0.7;
}

.thumbnail {
    background-color: rgba(0, 0, 0, .5)
}

.fa-github-square {
    color: rgb(212, 205, 205);
}

.fa-linkedin {
    color: rgb(73, 155, 231);
}

.fa-youtube-square {
    color: orangered;
}

.fa-graduation-cap {
    color: rgb(218, 206, 206);
    font-size: 30px;
}

.fa-user {
    color: rgb(218, 206, 206);
    font-size: 30px;
}

.fa-clipboard {
    color: rgb(218, 206, 206);
    font-size: 30px;
}

.jumbotron ul li {
    font-family: 'Architects Daughter';
    font-size: 20px;
    text-align: left;
    margin-top: 20px;
    font-weight: bold;
}