<!DOCTYPE html>

<html>

<head>
    <title> Web-OPI | Bryan </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon.ico">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/global-project-style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/all.min.css">

</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>                        
                            </button>
                <a class="navbar-brand" href="../index.html"> <span class="glyphicon glyphicon-globe glyphicon-align-center"></span> Bryan</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="../index.html"> <span class="glyphicon glyphicon-home"></span> Home</a>
                    </li>
                    <li>
                        <a href="../templates/about-me.html"> <span class="glyphicon glyphicon-info-sign"></span> About me</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"> <span class="glyphicon glyphicon-folder-open"></span> Projects </a>
                        <ul class="dropdown-menu">
                            <li> <a href="../templates/web-opi.html"> Web-OPI </a></li>
                            <li role="separator" class="divider"></li>
                            <li> <a href="../templates/shopping-cart.html"> Shopping Cart </a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="icons" href="https://github.com/arthur-bryan"><i class="fab fa-github-square"></i> </a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                        <a class="icons" href="https://www.linkedin.com/in/arthur-bryan"><i class="fab fa-linkedin"></i> </a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                        <a class="icons" href="https://www.youtube.com/channel/UCdIXgiTrLqKQcTJNFu81dqA?view_as=subscriber"><i class="fab fa-youtube-square"></i> </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div id="firstjumb" class="jumbotron">
            <div class='row'>
                <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
                    <p> <u>Web-OPI</u> <img width=80 src="../static/images/web-opi.jpg"></p>
                </div>
                <div id='texto' class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
                    <h3> Control your home through the internet with this simple project.</h3>
                    <div class="embed-responsive embed-responsive-16by9">
                        <video src="../static/videos/web-opi.mp4" type="video/mp4" autoplay loop controls class="embed-responsive-item">
                        </video>
                    </div>
                    <a href="https://github.com/arthur-bryan/web-opi">
                        <h3><img width=40 src="../static/images/python.png"> Clique here to go to the project. </h3>
                    </a>
                </div>
            </div>
            <p></p>
        </div>
    </div>
    <script src="../static/js/jquery-3.4.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
</body>

</html>
